<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>burger app</title>
</head>

<body>
    {{{body}}}
</body>

</html>

in this file we are going to serve our index.handlebars file through the {{{body}}} tag